body {
  color: #a4a4a4;
  background-color: #111;
}

a { color: #899cb5}

nav .switch label .lever::after {
    content: "\f185";
}

.card {
  background-color: #1A2027;
}

.grey.lighten-5 {
  background-color: #192534!important;
}

.grey.lighten-4 {
  background-color: #1A2027!important;
}

.light-blue-text.text-darken-4 {
  color: #73859d !important;
}

.light-blue.darken-1 {
  background-color: #253344 !important;
}
.light-blue.darken-3 {
  background-color: #1C2B3D !important;
}

.light-blue.darken-4 {
  background-color: #0F1E2F!important;
}

.black-text {
  color: #a4a4a4 !important;
}

.btn, .btn-large, .btn-small {
  color: #a4a4a4;
 }

 .dropdown-content li {
  color: #a4a4a4!important;
 }

input, textarea {
  color: #a4a4a4!important;
}

.collection.with-header .collection-header {
  background-color: #1A2027 !important;
  border-bottom: 1px solid #35465B;
  padding: 24px;
}

.collection .collection-item {
  background-color: #192534!important;
  line-height: 1.5rem;
  padding: 10px 20px;
      padding-left: 20px;
  margin: 0;
  border-bottom: 1px solid #35465B;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #3F4B59;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #fafafa;
  color: #282828;
}

.card-panel {
  background-color: #192534!important;
  color: #a4a4a4;
}

table.highlight>tbody>tr:hover{background-color:rgba(242, 242, 242, 0.1)}

.tab {
  background-color: #253344 !important;
}