* {
    outline: none
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eef5f9;
}

#content {
    flex: 1 0 auto;
}

strong {
    font-weight: 700;
}

nav #stats_updated {
    margin-left: 10px
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.block_hash {
    word-wrap: break-word;
    font-size: 0.9rem
}

nav{
    padding: 0 10px 0 10px;
}

nav .brand-logo {
    padding: 0 10px;
}

#coin_icon{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
    margin-top: -6px;
    margin-right: 10px;
}

#coin_icon svg {
    position: absolute;
}

nav #menu-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header-search {
    margin: 10px auto 0 200px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
}

.header-search i {
    line-height: 42px!important;
}

.nav-wrapper .input-field input[type="search"] {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 3rem;
    padding-right: 3rem;
    width: calc(100% - 6rem);
    color: #fff;
}

.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons {
    right: 0.5rem;
}

.hidden{
    display: none;
}

.dropdown-trigger {
	position: relative;
}

.dropdown-content {
    top: 46px!important;
}

nav .dropdown-content {
    margin: 0;
    position: absolute;
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
    
}

nav .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #03A9F4;
    display: block;
    line-height: 22px;
    padding: 14px 16px;

}

nav .switch label .lever::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: -3px;
    -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
    transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #131313;
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #282828;
    color: #7E7E7E;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav,
.page-titles,
.app-search,
.collection
{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.02), 0 1px 5px 0 rgba(0, 0, 0, 0.02);
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.collection {
    margin: 0.5rem 0 1rem 0;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px;
}

h2 {
    font-size: 2.5rem;
}

h4, .card-action h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 110%;
    margin: 0;
}

.card-action h3 {
    font-size: 1.25rem;
    line-height: 110%;
    margin: 0;
}

td {
    font-family: 'Inconsolata', monospace;
}

tfoot, tfoot tr, tfoot td {
    border-bottom: 0;
    font-weight: 600;
}

.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 1rem;
    line-height: inherit;
}

.footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255,255,255,0.8);
}

footer .container {
    position: relative;
}

foooter,
.page-footer {
    color: #b3e5fc;
}

foooter a,
.page-footer a {
    color: #e3f2fd;
}

.value {
    font-weight: 600;
    display: block;
    float: right;
}

.tab a {
    position: relative;
}

.tab span.badge {
    line-height: inherit;
    position: absolute; right: 0;
}

.tabs .indicator {
    background-color: #01579B;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(187, 222, 251, 0.2);
}

#check_tx_form label {
    margin-right: 10px;
}

@media only screen and (max-width: 992px) {
    
    .container {
        width: 100%;
    }

    .navbar-fixed, nav {
        height: auto;
    }

    .navbar-fixed nav {
        position: sticky;
        height: auto;
    }

    nav .brand-logo {
     left: 20px;
    }
    nav .brand-logo.left,
    nav .brand-logo.right {
     padding: 0;
     -webkit-transform:none;
     transform:none
    }

    .header-search {
        margin: 10px auto 0 40px;
        width: calc(100% - 50px);
        height: 40px;
        display: inline-block;
        position: relative;
    }
}
@media only screen and (max-width: 1500px) {
    .table-responsive {
        display: grid;
        grid-gap: 10px;
        grid-template-columns:
          10px
          repeat(6, calc(50% - 40px))
          10px;
        grid-template-rows: minmax(150px, 1fr);
        overflow-x: scroll;
    }
    .table-responsive table tr td {
        white-space: nowrap;
    }
}

@media only screen and (min-width: 991px) {

    .container {
        width: 85%;
    }

}