@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url("bootstrap.min.css");

#coinName{
    text-transform: capitalize;
    }

#coinIcon{
    text-transform: capitalize;
	width: 1.3em;
	height: 1.3em;
	display: inline-block;
	vertical-align: middle;
	color: #FFF137;
	border: 2px solid #FFF137;
	border-radius: 50%;
	text-align: center;
	margin-top: -4px;
}

body {
  margin-top: 60px;
}

.navbar-inverse {
  background-color: #2D5768;
  border-color: #f9f9f8;
  border-width: 0;
}
.navbar-inverse .container {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-inverse .navbar-text {
  color: #CEE3E4;
}
.navbar-inverse .navbar-nav > li > a {
  color: #F0F9FA;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00A0E3;
}

.navbar-default .navbar-nav>li>a .fa,
.navbar-default .navbar-nav>.active>a .fa,
.navbar-inverse .fa {
	color: #FFF137;
}


.input-group .form-control {
	border-left: 0;
	border-right: 0;
}

#stats_updated {
  color: #F4FC3D;
  position: absolute; 
  right: 10px;
  top: 15px;
}
hr {
  border-top-color: #BBBBBB;
}
.stats > div {
  color: #7C7C7C;
  padding: 10px 0px;
}

.stats > div i.fa {
  color: #00A0E3;
  font-size: 21px;
  width: 30px;
  text-align: center;
}
.stats > div > span {
  font-weight: 500;
  padding: 0 2px;
}
.nav .form-control {
  border: 1px solid #00A0E3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.nav .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #178ACC;
}
.nav .input-group-addon {
  background-color: #00A0E3;
  color: #fff;
  border-color: #00A0E3;
}
.nav .btn-default {
  color: #ffffff;
  background-color: #00A0E3;
  border-color: #00A0E3;
}
.nav .btn-default:hover,
.nav .btn-default:focus,
.nav .btn-default:active,
.nav .btn-default.active,
.nav .open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #178ACC;
  border-color: #026a4d;
}
.nav .btn-default:active,
.nav .btn-default.active,
.nav .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.nav .btn-default.disabled,
.nav .btn-default[disabled],
.nav fieldset[disabled] .btn-default,
.nav .btn-default.disabled:hover,
.nav .btn-default[disabled]:hover,
.nav fieldset[disabled] .btn-default:hover,
.nav .btn-default.disabled:focus,
.nav .btn-default[disabled]:focus,
.nav fieldset[disabled] .btn-default:focus,
.nav .btn-default.disabled:active,
.nav .btn-default[disabled]:active,
.nav fieldset[disabled] .btn-default:active,
.nav .btn-default.disabled.active,
.nav .btn-default[disabled].active,
.nav fieldset[disabled] .btn-default.active {
  background-color: #00A0E3;
  border-color: #00A0E3;
}
.nav .btn-default .badge {
  color: #00A0E3;
  background-color: #ffffff;
}

.navbar .theme-switch {
	background: transparent;
	border: none;
	line-height: 20px;
	padding-top: 15px;
    padding-bottom: 15px;
	border-radius: 0;
}

code {
  padding: 2px 10px;
  color: #DB2B24;
  background-color: #FDECF1;
  border-radius: 0;
}
.container .paymentsStatHolder,
.container .blocksStatHolder {
  padding-top: 10px;
}
.container .paymentsStatHolder > span,
.container .blocksStatHolder > span {
  border-width: 0;
  padding: 6px 13px;
}
.container .paymentsStatHolder > span > span,
.container .blocksStatHolder > span > span {
  font-weight: 500;
}
.bg-primary {
  background-color: #00A0E3;
}
.bg-info {
  background-color: #336A80;
  color: #fff;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #f4f9ff;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #dbebff;
}
.table > thead > tr > th {
  color: #336A80;
  border-bottom-color: #336A80;
  text-align: center;
  font-size: 1em;
}
.table > tbody > tr > td {
  border-top-color: #c9e0e9;  
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  text-align: center;
}

td .mtx-ago,
td .timeago {
	font-size: 0.9em;
}

#mem_pool_table td {
	text-align: center;
}

#blocks_rows > tr > td:nth-child(2) {
	text-align: left;
}

#content {
	margin-bottom: 200px;
	z-index: 1;
	background-color: #FDFDFD;
}

footer {
  background-color: #333333;
  color: #FDFDFD;
  position: fixed;
  bottom: 0;
  z-index: -1;
  padding: 30px 0;
  width: 100%;
  height: 200px;
}

.scrollup{
	opacity:0.3;
	position:fixed;
	bottom:50px;
	right:100px;
	display:none;			
	text-align: center;
	line-height: 50px;
	font-size: 50px;
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition:    color 200ms ease-in-out;
	-o-transition:      color 200ms ease-in-out;
	-ms-transition: 	color 200ms ease-out;
	display: none;
	overflow: hidden;
}

#block.hash, #transaction.hash {
	word-break: break-all;
}

/************************************************
*** sparkline override ***
************************************************/
.jqstooltip {
  border: none !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 2px !important;
  margin-top: -20px !important;
  /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box;
  box-sizing: content-box !important;
}
.jqstooltip .jqsfield {
  color: #ccc;
  font-size: 13px !important;
}
.jqstooltip .jqsfield b {
  color: #fff;
}


strong,
b {
  font-weight: 700;
}
.nav-pills > li > a {
  background-color: #F3F3F3;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #00A0E3;
}


.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group-btn:last-child > .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.explorer-search {
	margin-top: 6px;
}

.blocksStatHolder > span{
    display: inline-block;
    border-radius: 5px;
    padding: 1px 9px;
    border: 1px solid #e5e5e5;
    margin: 2px;
}
	
.blocksStatHolder > span > span{
    font-weight: bold;
}


@media (max-width: 768px) {
.explorer_menu, .explorer-search {
	float: none;
    clear: both;
}
.explorer-search {
	margin-bottom: 5px;
}

}

@media (max-width: 480px) {
.large-screen {
	display: none;
}

#stats_updated {
	right: 80px;
}


}
